@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

/* Couleurs et Fonts (il faut encore ajouter taille de police)*/
html {
    background-color: #FAF0E6; 
}

body {
    background-color: #FAF0E6; 
}

#menu {
    background-color: #FFA07A; 
    font-family: "Roboto", sans-serif;
    color: #5D5D5D; 
}

#footer {
    background-color: #FFF5EE; 
    font-family: "Roboto", sans-serif;
    color: #5D5D5D; 
}

p {
    color: #5D5D5D; 
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #E9967A; 
    font-family: "Playfair Display", serif;
}

a {
    color: #DB7093; 
    text-decoration: none; 
}
  
a:hover, a:focus {
    color: #87CEEB;
}

/* barre réseaux sociaux */
#socialMedia li {
    list-style-type: none; 
    display: inline-block; 
    margin-right: 5px; 
}

#socialMedia svg {
    width: 2em; 
}